@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,900&display=swap');
$fa-font-path: "/node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

* {

  font-family: 'Playfair Display SC', serif;

}

.bg {

  background: linear-gradient(135deg, #b221c5 0%, #2f2ced 100%);
  box-shadow: 0 8px 32px 0 rgb(81, 0, 105);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  background-position: bottom center;
  background-size: 150%;

}

.bg1{

    background: linear-gradient(135deg, #641bb8 0%, #420068 100%);

}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,500 C 0,500 0,125 0,125 C 80.7205128205128,98.0025641025641 161.4410256410256,71.0051282051282 236,83 C 310.5589743589744,94.9948717948718 378.9564102564103,145.9820512820513 465,161 C 551.0435897435897,176.0179487179487 654.7333333333333,155.06666666666666 729,145 C 803.2666666666667,134.93333333333334 848.1102564102566,135.75128205128206 916,131 C 983.8897435897434,126.24871794871794 1074.8256410256408,115.92820512820514 1166,114 C 1257.1743589743592,112.07179487179486 1348.5871794871796,118.53589743589743 1440,125 C 1440,125 1440,500 1440,500 Z");
  }

  25% {
    d: path("M 0,500 C 0,500 0,125 0,125 C 54.682051282051304,135.7051282051282 109.36410256410261,146.4102564102564 202,135 C 294.6358974358974,123.58974358974358 425.2256410256409,90.06410256410257 516,83 C 606.7743589743591,75.93589743589743 657.7333333333335,95.33333333333334 737,92 C 816.2666666666665,88.66666666666666 923.8410256410257,62.60256410256409 997,79 C 1070.1589743589743,95.39743589743591 1108.9025641025642,154.25641025641025 1177,169 C 1245.0974358974358,183.74358974358975 1342.548717948718,154.37179487179486 1440,125 C 1440,125 1440,500 1440,500 Z");
  }

  50% {
    d: path("M 0,500 C 0,500 0,125 0,125 C 64.03076923076924,116.87948717948717 128.06153846153848,108.75897435897436 221,103 C 313.9384615384615,97.24102564102564 435.78461538461534,93.84358974358975 512,105 C 588.2153846153847,116.15641025641025 618.8,141.86666666666667 698,143 C 777.2,144.13333333333333 905.0153846153846,120.68974358974359 996,126 C 1086.9846153846154,131.31025641025641 1141.1384615384616,165.37435897435898 1209,170 C 1276.8615384615384,174.62564102564102 1358.4307692307693,149.8128205128205 1440,125 C 1440,125 1440,500 1440,500 Z");
  }

  75% {
    d: path("M 0,500 C 0,500 0,125 0,125 C 101.59487179487178,106.24358974358974 203.18974358974356,87.48717948717947 284,92 C 364.81025641025644,96.51282051282053 424.83589743589744,124.29487179487182 494,140 C 563.1641025641026,155.70512820512818 641.4666666666666,159.33333333333331 729,140 C 816.5333333333334,120.66666666666669 913.2974358974361,78.37179487179488 998,81 C 1082.7025641025639,83.62820512820512 1155.3435897435895,131.17948717948718 1227,146 C 1298.6564102564105,160.82051282051282 1369.3282051282054,142.9102564102564 1440,125 C 1440,125 1440,500 1440,500 Z");
  }

  100% {
    d: path("M 0,500 C 0,500 0,125 0,125 C 80.7205128205128,98.0025641025641 161.4410256410256,71.0051282051282 236,83 C 310.5589743589744,94.9948717948718 378.9564102564103,145.9820512820513 465,161 C 551.0435897435897,176.0179487179487 654.7333333333333,155.06666666666666 729,145 C 803.2666666666667,134.93333333333334 848.1102564102566,135.75128205128206 916,131 C 983.8897435897434,126.24871794871794 1074.8256410256408,115.92820512820514 1166,114 C 1257.1743589743592,112.07179487179486 1348.5871794871796,118.53589743589743 1440,125 C 1440,125 1440,500 1440,500 Z");
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,500 C 0,500 0,250 0,250 C 82.24615384615385,245.6102564102564 164.4923076923077,241.22051282051282 250,236 C 335.5076923076923,230.77948717948718 424.27692307692314,224.72820512820513 508,239 C 591.7230769230769,253.27179487179487 670.3999999999999,287.8666666666667 752,282 C 833.6000000000001,276.1333333333333 918.123076923077,229.8051282051282 989,220 C 1059.876923076923,210.1948717948718 1117.1076923076923,236.91282051282053 1190,248 C 1262.8923076923077,259.08717948717947 1351.4461538461537,254.54358974358973 1440,250 C 1440,250 1440,500 1440,500 Z");
  }

  25% {
    d: path("M 0,500 C 0,500 0,250 0,250 C 62.64615384615385,248.0871794871795 125.2923076923077,246.174358974359 212,257 C 298.7076923076923,267.825641025641 409.47692307692296,291.38974358974355 499,287 C 588.523076923077,282.61025641025645 656.8000000000001,250.26666666666668 739,237 C 821.1999999999999,223.73333333333332 917.323076923077,229.5435897435897 1001,238 C 1084.676923076923,246.4564102564103 1155.9076923076923,257.55897435897435 1227,260 C 1298.0923076923077,262.44102564102565 1369.0461538461539,256.2205128205128 1440,250 C 1440,250 1440,500 1440,500 Z");
  }

  50% {
    d: path("M 0,500 C 0,500 0,250 0,250 C 56.72564102564101,248.67435897435897 113.45128205128202,247.34871794871793 199,237 C 284.548717948718,226.65128205128207 398.92051282051284,207.2794871794872 489,211 C 579.0794871794872,214.7205128205128 644.8666666666667,241.53333333333333 714,238 C 783.1333333333333,234.46666666666667 855.6128205128205,200.58717948717947 929,210 C 1002.3871794871795,219.41282051282053 1076.6820512820514,272.11794871794876 1162,286 C 1247.3179487179486,299.88205128205124 1343.6589743589743,274.9410256410256 1440,250 C 1440,250 1440,500 1440,500 Z");
  }

  75% {
    d: path("M 0,500 C 0,500 0,250 0,250 C 61.83076923076922,244.4923076923077 123.66153846153844,238.98461538461538 202,234 C 280.33846153846156,229.01538461538462 375.1846153846154,224.5538461538462 467,238 C 558.8153846153846,251.4461538461538 647.6,282.79999999999995 730,281 C 812.4,279.20000000000005 888.4153846153845,244.24615384615385 958,227 C 1027.5846153846155,209.75384615384615 1090.7384615384615,210.2153846153846 1170,217 C 1249.2615384615385,223.7846153846154 1344.6307692307691,236.8923076923077 1440,250 C 1440,250 1440,500 1440,500 Z");
  }

  100% {
    d: path("M 0,500 C 0,500 0,250 0,250 C 82.24615384615385,245.6102564102564 164.4923076923077,241.22051282051282 250,236 C 335.5076923076923,230.77948717948718 424.27692307692314,224.72820512820513 508,239 C 591.7230769230769,253.27179487179487 670.3999999999999,287.8666666666667 752,282 C 833.6000000000001,276.1333333333333 918.123076923077,229.8051282051282 989,220 C 1059.876923076923,210.1948717948718 1117.1076923076923,236.91282051282053 1190,248 C 1262.8923076923077,259.08717948717947 1351.4461538461537,254.54358974358973 1440,250 C 1440,250 1440,500 1440,500 Z");
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
  0% {
    d: path("M 0,500 C 0,500 0,375 0,375 C 83.71282051282054,389.32307692307694 167.42564102564108,403.6461538461539 245,412 C 322.5743589743589,420.3538461538461 394.0102564102564,422.73846153846154 478,416 C 561.9897435897436,409.26153846153846 658.5333333333333,393.40000000000003 744,386 C 829.4666666666667,378.59999999999997 903.8564102564103,379.6615384615385 974,381 C 1044.1435897435897,382.3384615384615 1110.0410256410255,383.9538461538461 1187,383 C 1263.9589743589745,382.0461538461539 1351.9794871794873,378.5230769230769 1440,375 C 1440,375 1440,500 1440,500 Z");
  }

  25% {
    d: path("M 0,500 C 0,500 0,375 0,375 C 79.82307692307691,368.32307692307694 159.64615384615382,361.6461538461539 248,348 C 336.3538461538462,334.3538461538461 433.2384615384617,313.73846153846154 509,333 C 584.7615384615383,352.26153846153846 639.3999999999999,411.40000000000003 712,420 C 784.6000000000001,428.59999999999997 875.1615384615387,386.6615384615385 949,366 C 1022.8384615384613,345.3384615384615 1079.9538461538461,345.95384615384614 1159,351 C 1238.0461538461539,356.04615384615386 1339.023076923077,365.5230769230769 1440,375 C 1440,375 1440,500 1440,500 Z");
  }

  50% {
    d: path("M 0,500 C 0,500 0,375 0,375 C 69.7820512820513,364.53076923076924 139.5641025641026,354.0615384615385 213,352 C 286.4358974358974,349.9384615384615 363.525641025641,356.2846153846154 459,369 C 554.474358974359,381.7153846153846 668.3333333333334,400.8 739,400 C 809.6666666666666,399.2 837.1410256410256,378.5153846153846 919,374 C 1000.8589743589744,369.4846153846154 1137.1025641025642,381.13846153846157 1233,384 C 1328.8974358974358,386.86153846153843 1384.4487179487178,380.9307692307692 1440,375 C 1440,375 1440,500 1440,500 Z");
  }

  75% {
    d: path("M 0,500 C 0,500 0,375 0,375 C 91.34102564102565,382.9102564102564 182.6820512820513,390.8205128205128 265,396 C 347.3179487179487,401.1794871794872 420.61282051282046,403.62820512820514 497,390 C 573.3871794871795,376.37179487179486 652.8666666666666,346.6666666666667 725,333 C 797.1333333333334,319.3333333333333 861.9205128205128,321.7051282051282 944,333 C 1026.0794871794872,344.2948717948718 1125.451282051282,364.5128205128205 1211,373 C 1296.548717948718,381.4871794871795 1368.274358974359,378.2435897435897 1440,375 C 1440,375 1440,500 1440,500 Z");
  }

  100% {
    d: path("M 0,500 C 0,500 0,375 0,375 C 83.71282051282054,389.32307692307694 167.42564102564108,403.6461538461539 245,412 C 322.5743589743589,420.3538461538461 394.0102564102564,422.73846153846154 478,416 C 561.9897435897436,409.26153846153846 658.5333333333333,393.40000000000003 744,386 C 829.4666666666667,378.59999999999997 903.8564102564103,379.6615384615385 974,381 C 1044.1435897435897,382.3384615384615 1110.0410256410255,383.9538461538461 1187,383 C 1263.9589743589745,382.0461538461539 1351.9794871794873,378.5230769230769 1440,375 C 1440,375 1440,500 1440,500 Z");
  }
}
